---
---

@import "{{ site.theme }}";

footer {
  display: none !important;c
}

.btn {
  display: none !important;
}

#forkme_banner {
  display: none !important;
}

#header_wrap{
  background: linear-gradient(to top, #373737, #0046f9);
}

#footer_wrap{
  background: linear-gradient(to top, #373737, #0046f9);
}
