---
---

@import "{{ site.theme }}";

body {
  color:#fff;
  background:#111
}
h1, h2 {
  color:#fff;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

#forkme_banner {
  display: none !important;
}

#header_wrap{
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
 
#main_content_wrap{
  background:#111;
 
}


#footer_wrap{
  background: linear-gradient(to top, #373737, #0046f9);
}
